// Colors

$white:#ffffff;
$light-grey:#f5f5f9;
$lighter-grey: #e5e5e5;
$grey1: #d7d9dF;
$medium-grey: #a3a4a6;
$grey: #555160;
$graphite: #48494d;
$grey4: #3b3944;
$grey3: #2b2733;
$grey2: #1a212f;
$black: #000000;
$red: #d12136;
$dark-red: #9c1928;
$hover-red: #bd0c21;
$mouse-grey: #9F9E9E;
$bright-red: #ff0000;
$graphite20:#48494d33;
$grey70: #d7d9dF;

