.footer {
  height: auto;
  min-height: 82px;
  background-color: $light-grey;
  margin-top: 70px;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1188px;
  min-width: 769px;
  margin: auto;
  min-height: 100%;
}

.footer__menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  line-height: 22px;
  column-gap: 10px;
}

.footer__menu-item {
  height: 100%;
  padding: 5px 11px;
}

.footer__menu-item a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $graphite;

  &:hover{
    color: $black;
  }

  &:focus{
    color: $black;
  }
}
