.map {
  display: block;
  width: 431px;
  margin: 5px 0 44px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $grey1;
  background-image: url("../../img/map.png");
}
