.nav {
  margin-right: 5px;
}

.nav__list {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.nav__item {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-left: 68px;
  margin-top: 5px;
}

.nav__item-link {
  color: $graphite;

  &:hover{
    color: $red;
  }

  &:focus{
    color: $red;
  }
}
