.reviews {
  position: relative;
}

.reviews__button {
  width: 189px;
  height: 52px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
  top: 20px;
  right: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border: 1px solid $red;
  color: $red;
  background-color: $white;

  &:hover {
    color: $white;
    background-color: $red;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__item {
  padding: 20px 0 20px 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.reviews__user {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.reviews__content{
  padding: 13px 0 0 18px;
}

.reviews__content p {
  margin: 5px 0 12px 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
}

.reviews__content-title {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: $black;

  &:before {
    content: "+";
    top: 0;
    left: -18px;
    position: absolute;
    display: block;
    color: $red;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  &--minus:before {
    content: "-";
  }
}

.reviews__comment {
  padding-top: 3px;
}

.reviews__comment-title{
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: $black;
}

.reviews__comment p {
  font-size: 15px;
  line-height: 20px;
  padding: 5px 0 20px 0;
  margin: 0;
}

.reviews__rating {
  display: flex;
  gap: 24px;
  margin-bottom: 27px
}

.reviews__stars {
  width: 98px;
  height: 16px
}

.reviews__stars::before {
  width: 98px;
  background-size: 98px 16px
}

.reviews__stars span {
  width: 0
}

.reviews__stars span::before {
  width: 98px;
  background-size: 98px 16px
}

.reviews__resume {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  color: $red;
}

.reviews__footer {
  display: flex;
  gap: 24px;
}

.reviews__time {
  font-size: 14px;
  line-height: 19px;
  color: $black;
  opacity: 0.4;
}

.reviews__footer-link {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  color: $red;

  &:hover {
    color: $dark-red;
  }
}
